<header class="group">
    <section class="pane stations">
        <h2 class="selected">Stations</h2>
    </section>
    <section class="pane units">
        <h2>Units</h2>
    </section>
    <section class="pane personnel">
        <h2>Personnel</h2>
    </section>
</header>